{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}AskPupkin{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <span class="logo"><a href="{% url 'index' %}">AskPupkin</a></span>
        <input type="text" class="search" placeholder="Search">
        <div class="button-wrapper">
            <a href="{% url 'ask' %}" class="ask-link">Ask</a>
        </div>

        <div class="profile-wrapper">
            <img src="{% static 'images/2.jpg' %}" alt="Profile" class="profile-avatar">

            <div>
                <div class="profile-name">Dr. Piper</div>
                <div class="button-wrapper">
                    <a href="{% url 'accounts:login' %}">log in</a>
                    <a href="{% url 'accounts:signup' %}">sign up</a>
                </div>
            </div>
        </div>
    </header>

    <div class="root">
        <main class="root__main">
            {% block content %}
            {% endblock %}
        </main>

        <aside>
            {% include "public/sidebar.html" %}
        </aside>
    </div>
</body>
</html>