<section id="popular_tags">
    <h3>Popular Tags</h3>
    <div class="popular-tags__links">
        <a href="{% url 'tag_questions' 'perl' %}">perl</a>
        <a href="{% url 'tag_questions' 'python' %}" class="tag-python">python</a>
        <a href="{% url 'tag_questions' 'technopark' %}">technopark</a>
        <a href="{% url 'tag_questions' 'mysql' %}" class="tag-mysql">mysql</a>
        <a href="{% url 'tag_questions' 'django' %}">django</a>
        <a href="{% url 'tag_questions' 'firefox' %}" class="tag-firefox">firefox</a>
    </div>
</section>

<section id="best_members">
    <h3>Best Members</h3>
    <ul class="best-members__links">
        <li><a href="#">mr freeman</a></li>
        <li><a href="#">dr house</a></li>
        <li><a href="#">bender</a></li>
    </ul>
</section>